
.imageContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 252px;
}

.advContainer{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 204px;
}


.tripContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 124px;
}

.tripAdContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 222px;
}